


/*^^^^^^^^^^^^^^^^^^^^VUE таблица */

.vgt-responsive {
  margin-top: 74px!important;
}

.vgt-table{

  tr.red{

    background-color: rgba(255, 0, 0, 0.10);
  }

  tr.green{

    background-color: rgba(0, 128, 0, 0.10);
  }
}

/*____________________VUE таблица */










