/*------------------------------------------------------------------
  	[The "base.scss" contains basic default element styles
  		(colors, typography, margins & padding).]
------------------------------------------------------------------*/

html {
    overflow-x: hidden;
    
}

html, html a, body {
    -webkit-font-smoothing: antialiased;
}

body {
    position: relative;
    padding-top    : 80px;
    padding-bottom : 20px;
}

p {
   
}

a {
    
}

ul {
    padding: 0;
    list-style: none;
    
    li {
        
    }
}


.mx-datepicker-popup{
    z-index: 9999!important;
}



















