.pswp__caption__center {
  max-width: 620px!important;
}

a.gallery-item:hover {
  box-shadow: 1px 1px 10px 1px rgba(48, 151, 209, 0.37);
}

#photo_gallery {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}
#photo_gallery .gallery-item-wrap{
  flex : 1 1 350px;
  max-width: 33%;
  min-width: 350px;
}
@media (max-width: 1199px) {
  #photo_gallery .gallery-item-wrap {
    width: 50%;
    max-width: 50%;
  }
}
@media (max-width: 750px) {
  #photo_gallery .gallery-item-wrap {
    width: 100%;
    max-width: 100%;
  }
}

#photo_gallery a.gallery-item {
  margin: 0 15px 0 0;
  transition: all .2s linear;
  display : block;
  position: relative;
  background-position: center;
  background-size: 110px 110px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid;
  text-decoration: none;
}

#photo_gallery a.gallery-item .icon{
  width: 110px;
  height: 110px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: url(../img/folder3.png) no-repeat;
  background-position: center;
  background-size: 100%;
  display : block;
  opacity: .3;
  margin: auto;
}

#photo_gallery a.gallery-item p,
#photo_gallery a.gallery-item h3{
  text-shadow: 1px 1px 0 #000;
}







